<ion-card>
  <ion-grid (click)="itemClicked($event, 'ContactPage', contact.Id, contact.attributes.url)">
    <ion-row>
      <ion-col col-12><h2>{{contact.Name}}</h2></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Account Name:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9>
        <div><a (click)="itemClicked($event, 'AccountPage', contact.AccountId, contact.Account?.attributes.url)">{{contact.Account?.Name}}</a></div>
      </ion-col>
    </ion-row>              
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Title:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{contact.Title}}</div></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Email:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{contact.Email}}</div></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Phone:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{contact.Phone}}</div></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Mobile Phone:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{contact.MobilePhone}}</div></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>