<ion-card>
  <ion-grid (click)="itemClicked($event, 'WorkorderDetailsPage', workorder.Id || workorder._id, workorder?.attributes?.url)">
    <ion-row>
      <ion-col col-12><h1>{{workorder.Name}}</h1></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Product in Place: </div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9>
        <!-- <div><a (click)="itemClicked($event, 'ProductInPlacePage', workorder.UH__productInPlace__r.Id, workorder.UH__productInPlace__r?.attributes.url)"> -->
        <div><a (click)="itemClicked($event, 'ProductInPlacePage', workorder.UH__productInPlace__r.Id)">
            {{workorder.UH__productInPlace__r?.Name}}</a>
        </div>
      </ion-col>
    </ion-row>              
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Service Place:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9>
        <!-- <div><a (click)="itemClicked($event, 'ServicePlaceDetailsPage', workorder.UH__ServicePlace__r.Id, workorder.UH__ServicePlace__r?.attributes.url)"> -->
        <div><a (click)="itemClicked($event, 'ServicePlaceDetailsPage', workorder.UH__ServicePlace__r.Id || workorder.UH__ServicePlace__r._id)">
            {{workorder.UH__ServicePlace__r?.Name}}<br/>{{workorder.UH__ServicePlace__r?.UH__Address__c}}</a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Contact:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9>
        <!-- <div><a (click)="itemClicked($event, 'ContactPage', workorder.UH__Contact__c, workorder.UH__Contact__r?.attributes.url)"> -->
        <div><a (click)="itemClicked($event, 'ContactPage', workorder.UH__Contact__r?.Id || workorder.UH__Contact__r?._id, workorder.UH__Contact__r?.attributes?.url)">
            {{workorder.UH__Contact__r?.Name}}</a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Description:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{workorder.UH__Description__c}}</div></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Estimated completion date:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{workorder.UH__Deadline__c | dateTimeFormatPipe }}</div></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Status:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{workorder.UH__Status__c}}</div></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>