<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Workorder Details</ion-title>
  </ion-navbar>

  <!-- <ion-toolbar no-border-top> -->
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="details">
      Details
    </ion-segment-button>
    <ion-segment-button value="related">
      Related
    </ion-segment-button>
  </ion-segment>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content padding>
  <div [ngSwitch]="tab">
    <!-- details tab -->
    <div *ngSwitchCase="'details'">
      <div class="slds-tabs_path">
        <div class="slds-tabs_path__nav">
          <div class="{{statusClassMap?.Open}}">
            <a class="slds-tabs_path__link" data-woStatus="" (click)="changeWOStatus(woStatuses[0])">
              <span class="slds-tabs_path__stage">
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </span>
              <span class="slds-tabs_path__title">Open</span>
            </a>
          </div>
          <div class="{{statusClassMap?.Accept}}">
            <a class="slds-tabs_path__link" data-woStatus="" (click)="changeWOStatus(woStatuses[1])">
              <span class="slds-tabs_path__stage">
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </span>
              <span class="slds-tabs_path__title">Accepted</span>
            </a>
          </div>
          <div class="{{statusClassMap?.Travelling}}">
            <a class="slds-tabs_path__link" data-woStatus="" (click)="changeWOStatus(woStatuses[2])">
              <span class="slds-tabs_path__stage">
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </span>
              <span class="slds-tabs_path__title">Travelling</span>
            </a>
          </div>
          <div class="{{statusClassMap?.Arrived}}">
            <a class="slds-tabs_path__link" data-woStatus="" (click)="changeWOStatus(woStatuses[3])">
              <span class="slds-tabs_path__stage">
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </span>
              <span class="slds-tabs_path__title">Arrived on place</span>
            </a>
          </div>
          <div class="{{statusClassMap?.Completed}}">
            <a class="slds-tabs_path__link" data-woStatus="" (click)="changeWOStatus(woStatuses[4])">
              <span class="slds-tabs_path__stage">
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </span>
              <span class="slds-tabs_path__title">Completed</span>
            </a>
          </div>
          <div class="{{statusClassMap?.Closed}}">
            <a class="slds-tabs_path__link" data-woStatus="" (click)="changeWOStatus(woStatuses[5])">
              <span class="slds-tabs_path__stage">
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </span>
              <span class="slds-tabs_path__title">Closed</span>
            </a>
          </div>
        </div>
      </div>
      <ion-list>
        <ion-item>
          <h3>Workorder Name</h3>
          <p>{{currWO?.Name}}</p>
        </ion-item>
        <ion-item>
          <h3>Created Date</h3>
          <p>{{currWO?.CreatedDate}}</p>
        </ion-item>
        <ion-item>
          <h3>Description</h3>
          <p>{{currWO?.UH__Description__c}}</p>
        </ion-item>
        <ion-item>
          <h3>Product in place</h3>
          <p>
            <a (click)="gotoRecord('/services/apexrest/UH/productInPlace/', currWO?.UH__productInPlace__c, 'ProductInPlacePage')">
              {{currWO?.UH__productInPlace__r?.Name}}
            </a>
          </p>
        </ion-item>
        <ion-item>
          <h3>Service place</h3>
          <p><a (click)="gotoRecord('UH__ServicePlace__c', currWO?.UH__ServicePlace__r?.attributes.url)">{{currWO?.UH__ServicePlace__r?.Name}}</a></p>
        </ion-item>
        <ion-item>
          <h3>Status</h3>
          <p>{{currWO?.UH__Status__c}}</p>
        </ion-item>
        <ion-item>
          <h3>Technician</h3>
          <p>{{currWO?.UH__Technician__r?.UH__User__r.Name}}</p>
        </ion-item>
        <ion-item>
          <h3>Start time</h3>
          <p>{{currWO?.UH__startTime__c}}</p>
        </ion-item>
        <ion-item>
          <h3>Deadline</h3>
          <p>{{currWO?.UH__Deadline__c}}</p>
        </ion-item>
        <ion-item>
          <h3>Closed on</h3>
          <p>{{currWO?.UH__ClosedOn__c}}</p>
        </ion-item>
      </ion-list>
    </div>
    <!-- details tab end -->
    <!-- related tab -->
    <ion-list *ngSwitchCase="'related'" class="accordion-list">
      <!-- First Level -->
      <ion-list-header *ngFor="let item of relatedData; let i = index;" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
            {{ item.name }} <ion-badge color='twitter'>{{item.size}}</ion-badge>
        </button>
        <ion-list *ngIf="item.elements && item.open">
          <!-- <button ion-button outline item-end (click)="buyItem(child)">{{ child.price }}</button> -->
          <ion-item *ngFor="let element of item.elements" ion-item detail-none class="element-item">
            <ion-grid>
              <ion-row class="ellipsis">
                <ion-col col-5 col-lg-3 col-xl-3><div>Name:</div></ion-col>
                <ion-col col-7 col-lg-9 col-xl-9><div>{{ element.relatedName }}</div></ion-col>
              </ion-row>              
              <ion-row class="ellipsis">
                <ion-col col-5 col-lg-3 col-xl-3><div>Type:</div></ion-col>
                <ion-col col-7 col-lg-9 col-xl-9><div>{{ element.type }}</div></ion-col>
              </ion-row>
              <ion-row class="ellipsis">
                <ion-col col-5 col-lg-3 col-xl-3><div>Cost:</div></ion-col>
                <ion-col col-7 col-lg-9 col-xl-9><div>{{ element.cost }}</div></ion-col>
              </ion-row>              
              <ion-row class="ellipsis">
                <ion-col col-5 col-lg-3 col-xl-3><div>Quantity:</div></ion-col>
                <ion-col col-7 col-lg-9 col-xl-9><div>{{ element.quantity }}</div></ion-col>
              </ion-row>
              <ion-row class="ellipsis">
                <ion-col col-5 col-lg-3 col-xl-3><div>Total cost:</div></ion-col>
                <ion-col col-7 col-lg-9 col-xl-9><div>{{ element.totalCost }}</div></ion-col>
              </ion-row>              
              <ion-row class="ellipsis">
                <ion-col col-5 col-lg-3 col-xl-3><div>Created date:</div></ion-col>
                <ion-col col-7 col-lg-9 col-xl-9><div>{{ element.createdDate }}</div></ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-list-header>
    </ion-list>
    <!-- related tab end -->
  </div>
</ion-content>
<workorder-footer-actions [woStatus]="currentWOStatus" (onActionDispatch)="executeAction($event)"></workorder-footer-actions>