<ion-card>
  <ion-grid (click)="itemClicked()">
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Name:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.Name }}</div></ion-col>
    </ion-row>              
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Type:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.UH__Labor__r?.UH__Type__c }} - {{ woLabour.UH__Labor__r?.Name }}</div></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Cost:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.UH__Cost__c | currency }}</div></ion-col>
    </ion-row>              
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Quantity:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.UH__hoursCount__c }}</div></ion-col>
    </ion-row>
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Total cost:</div></ion-col>
      <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.UH__totalCost__c | currency }}</div></ion-col>
    </ion-row>              
    <ion-row class="ellipsis">
      <ion-col col-5 col-lg-3 col-xl-3><div>Created date:</div></ion-col>
      <!-- <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.CreatedDate }}{{ woLabour?.createdAt | dateTimeFormatPipe: 'MM/dd/yyyy hh:mm' }}</div></ion-col> -->
      <!-- <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.CreatedDate }}{{ woLabour?.createdAt | dateTimeFormatPipe: }}</div></ion-col> -->
      <ion-col col-7 col-lg-9 col-xl-9><div>{{ woLabour.CreatedDate }}{{ woLabour?.createdAt | dateTimeFormatPipe }}</div></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>