page-home {
    .ellipsis{
        div{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.4rem;
        }
    }

    ion-item-options {
        background-color: rgb(236, 235, 234);
    }
    
    .action-sheets-basic-page {
        .ion-md-share ion-icon {
          color: #ED4248;
        }
        .ion-md-arrow-dropright-circle {
          color: #508AE4;
        }
        .ion-md-heart-outline {
          color: #31D55F;
        }
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive ion-icon {
          color: #757575;
        }
    }    
}
