<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mobile Tech Home Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-card #myWarehouse>
    <!-- <ion-card-header>
      Header
    </ion-card-header> -->
    <!-- <ion-card-content> -->
      <div id="myWarehouseDiv"></div>
    <!-- </ion-card-content> -->
  </ion-card>
  <ion-card #mapComponent>
    <ion-card-content>
      <div id="mapComponent"></div>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-header>
        Work Orders
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-2><h1>Workorder Name</h1></ion-col>
            <ion-col col-2><h2>Status</h2></ion-col>
            <ion-col col-3><h3>Service Place</h3></ion-col>
            <ion-col col-3><h4>Description</h4></ion-col>
            <ion-col col-2><h5>Deadline</h5></ion-col>
          </ion-row>
          <ion-row *ngFor="let WO of workOrders">
              <ion-col col-2><div>{{WO.woName}}</div></ion-col>
              <ion-col col-2><div>{{WO.status}}</div></ion-col>
              <ion-col col-3><div>{{WO.servicePlace}}</div></ion-col>
              <ion-col col-3><div>{{WO.description}}</div></ion-col>
              <ion-col col-2><div>{{WO.deadline}}</div></ion-col>
          </ion-row>
        </ion-grid>
      <ion-list>
        <ion-item *ngFor="let WO of workOrders">
            <h2>{{WO.Name}}</h2>
            <p>{{WO.UH__Status__c}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
  <ion-card>
    <ion-card-content>
      <div>
        <ngx-datatable
          [sortType]="'multi'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          [limit]="5">
        </ngx-datatable>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <button ion-button class="register-btn" type="button" (click)="showTechs()">Show Technicians</button> 
  <button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>