<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Workorders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let list of ['All', 'Recently assigned WOs', 'All opened workorders','Todays workorders']" (click)="showListWOs(list)">
      <ion-icon name="ios-list" item-start></ion-icon>{{list}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      {{listLabel}}
    </ion-list-header>
    <ion-item *ngFor="let WO of workorders"> 
      <workorder-info [workorder]="WO"></workorder-info>
    </ion-item>
  </ion-list>
</ion-content>