accordion {
  ion-list {
    animation: fade-in 1.5s ease;
  }
  .accordion-list {
    //background: color($colors, light);
    height: 100%;
  }
  .section {
      background: color($colors, grayish);
      color: #000;
  }
  .section-active {
      background: #3e6aff; // #f9a020;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  .element-item {
      background: #efefef;
  }
  .ellipsis{
    div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.4rem;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
